extends layout

block content
  .page.page1
    .header
      h1 Bay Foundry
      a(href="#").logo
        .l-bottom
        .l-middle
        .l-pole.l-pole-1
        .l-pole.l-pole-2
        .l-rope

        .l-line.l-line1
        .l-line.l-line2
        .l-line.l-line3
        .l-line.l-line4
        .l-line.l-line5

        .l-line.l-line6
        .l-line.l-line7
        .l-line.l-line8
        .l-line.l-line9
        .l-line.l-line10
        .l-line.l-line11
        .l-line.l-line12

        .l-line.l-line13
        .l-line.l-line14
        .l-line.l-line15
        .l-line.l-line16
        .l-line.l-line17
        .l-line.l-line18
        .l-line.l-line19

        .l-line.l-line20
        .l-line.l-line21
        .l-line.l-line22
        .l-line.l-line23

  .page.page2
    .container
      .row
        .col-sm-4
          .partner.chris
            .avatar
            h2 Chris Tosswill
            h3 Engineering
            .center
              a(href="http://twitter.com/tosswill").fa.fa-twitter-square
              a(href="http://linkedin.com/in/tosswill").fa.fa-linkedin-square
              a(href="mailto:chris@bayfoundry.com").fa.fa-envelope-square
            hr

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu fermentum dapibus. Integer orci turpis, mollis vel augue eget, placerat rhoncus orci. Mauris metus libero, rutrum eu ornare ut, molestie vel nunc. Morbi sed iaculis metus.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu fermentum dapibus. Integer orci turpis, mollis vel augue eget, placerat rhoncus orci. Mauris metus libero, rutrum eu ornare ut, molestie vel nunc. Morbi sed iaculis metus.
        .col-sm-4
          .partner.greg
            .avatar
            h2 Gregory Koberger
            h3 Design / UX
            .center
              a(href="http://twitter.com/gkoberger").fa.fa-twitter-square
              a(href="http://linkedin.com/in/gkoberger").fa.fa-linkedin-square
              a(href="mailto:gregory@bayfoundry.com").fa.fa-envelope-square
            hr

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu fermentum dapibus. Integer orci turpis, mollis vel augue eget, placerat rhoncus orci. Mauris metus libero, rutrum eu ornare ut, molestie vel nunc. Morbi sed iaculis metus.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu fermentum dapibus. Integer orci turpis, mollis vel augue eget, placerat rhoncus orci.
        .col-sm-4
          .partner.patrick
            .avatar
            h2 Patrick McGrath
            h3 Licensed Medical Professional
            .center
              a(href="http://twitter.com/gkoberger").fa.fa-twitter-square
              a(href="http://linkedin.com/in/patmcgrath").fa.fa-linkedin-square
              a(href="mailto:pat@bayfoundry.com").fa.fa-envelope-square
            hr

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu fermentum dapibus. Integer orci turpis, mollis vel augue eget, placerat rhoncus orci. Mauris metus libero, rutrum eu ornare ut, molestie vel nunc. Morbi sed iaculis metus.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu fermentum dapibus. Integer orci turpis, mollis vel augue eget, placerat rhoncus orci.

  .page.page3
    .container
      .mission
        h3 Awesome products efficiently delivered
        p This is our mission statment. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu fermentum dapibus. Integer orci turpis, mollis vel augue eget, placerat rhoncus orci. Mauris metus libero, rutrum eu ornare ut, molestie vel nunc. Morbi sed iaculis metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec massa tristique arcu.
        .signatures
      a#hire(href="mailto:chris@bayfoundry.com") Hire Us
      .logos
        .logo-baypoint
        .logo-warriors
        .logo-misfit
        .logo-greylock
